{% extends 'layout/base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row col-md-6 mx-auto ">
            <article>
                <h1>{{ trick.title }}</h1>
                <p>{{ trick.description }} </p>
                <p>{{ trick.slug }} </p>
                <p>Créer le <span class="created">{{ trick.created|date("d/m/Y") }} </span> || modifier le : <span class="updated">{{ trick.lastUpdate|date("d/m/Y") }} </span></p>
            </article>
            <a href="{{ path('app_trick_edit', {id: trick.id} ) }}">Editer le trick</a>|
            <a href="#" onclick="event.preventDefault(); confirm('Etes-vous sur de vouloir le supprimer ? ') && document.getElementById('js-trick-delete-form').submit();">Supprimer le trick</a>|
            <a href="{{ path('app_home') }}">Revenir à la page d'accueil</a>
        </div>
    </div>
    
    <form id="js-trick-delete-form" action="{{ path('app_trick_delete', {id: trick.id} ) }}" method="post" style="display: none">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('trick_delete'~ trick.id) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}
