{% extends 'layout/base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
	<div class="container-fluid col-lg-10 col-md-12 col-12 contShow mt-5">
		<div class="row col-md-12 col-lg-8 mx-auto ">
			<div class="col-12">
				<div class="blockImg">
					{% set imageUne = 0 %}
					{% for image in trick.images %}
							{% if image.starImage == 1 %}
								<div>
									<img src="{{ asset('/images/figures/')~image.name }}" alt="image" class="imgStarArticle">
									<div class="lienStarImage">
										<a href="{{ path('app_delete_image', {id: image.id})}}" data-delete-image data-token="{{ csrf_token('delete' ~ image.id )}}">
											<i class="fas fa-trash-alt"></i>
										</a>
									</div>
								</div>
								{% set imageUne = 1 %}
						{% endif %}
					{% endfor %}
						{% if imageUne == 0 %}
							<img src="{{ asset('/images/figures/defaulttrick.png') }}" alt="image" class="imgStarArticle">
						{% endif %}
					<p class="cover-wrapper">{{ trick.name | raw }}</p>
				</div>
				<!-- Include trick images and videos in carousel -->
				{% include 'layout/partials/_media.html.twig' %}
				<div class="col-12 col-md-12 col-lg-12 d-flex justify-content-between flex-wrap">
					<div class="alert alert-primary btn-primary">Created at : <span
								class="created">{{ trick.createdAt|date("d/m/Y") }} </span></div>
					<div class="alert alert-primary btn-primary">Category : {{ trick.category.name }}</div>
					<div class="alert alert-primary btn-primary">Updated at : <span
								class="updated">{{ trick.updatedAt|date("d/m/Y") }} </span></div>
				</div>
				<p class="text-justify">{{ trick.description | raw }} </p>
				<div class="d-flex justify-content-center">
					{#					{% if app.user %}#}
					<div class="float">
						<a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}">
							<div class="btn btn-warning">Edit trick</div>
						</a>
						<a href="{{ path('app_trick_delete', {'id': trick.id}) }}"
						   onclick="return confirm(`Are you sur to delete the trick : {{ trick.name | raw }} ?`)">
							<div class="btn btn-warning">Delete trick</div>
						</a>
					</div>
					{#					{% endif %}#}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
