{% extends 'layout/base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
	<div class="container-fluid col-lg-10 col-md-12 col-12 contShow mt-5">
		<div class="row col-md-8 mx-auto ">
			<div class="col-12">
				<div class="d-flex justify-content-end">
{#					{% if app.user %}#}
						<div class="float">
							<a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}">
								<i class="fas fa-pencil-alt fa-lg"></i>
							</a>
							<a href="{{ path('app_trick_delete', {'slug': trick.slug}) }}"
							onclick="return confirm(`Are you sur to delete the trick : {{ trick.name }} ?`)"><i
									class="fas fa-trash-alt"></i></a>
						</div>
{#					{% endif %}#}
				</div>
				<div class="blockImg">
					{% if trick.mainImage.name is defined %}
						<img src="{{ UploadDirectory~trick.mainImage.name}}" alt=""
							 class="img img-responsive imgArticle">
						{% else %}
						<p>No image...</p>
					{% endif %}
					<p class="cover-wrapper">{{ trick.name }}</p>
				</div>
				{% dump(trick) %}
				<div class="col-12 col-md-12 col-lg-12 d-flex justify-content-between flex-wrap">
					<div class="alert alert-primary btn-primary">Created at : <span
								class="created">{{ trick.createdAt|date("d/m/Y") }} </span></div>
					<div class="alert alert-primary btn-primary">Category :</div>
					<div class="alert alert-primary btn-primary">Updated at : <span
								class="updated">{{ trick.updatedAt|date("d/m/Y") }} </span></div>
				</div>
				<p class="text-justify">{{ trick.description }} </p>

			</div>
		</div>
	</div>
{% endblock %}
