{% if trick.videos|length > 0 or trick.images|length > 0 %}
    <div class="row col-md-12 col-12 col-lg12 mt-5 mb-5">
            <div class="slider-inner  d-flex flex-wrap">
                {% for image in trick.images %}
                {% if image.starImage == 0 %}
                    <div class="conteneurImageArticle">
                        <img src="{{ asset('/images/figures/')~image.name }}" alt="image" class="imgArticle">
                        <div class="lienImage">
                            <a href="{{ path('app_default_image', {id: image.id})}}">
                                <i class="fas fa-star fa-lg"></i>
                            </a>
                            <a href="{{ path('app_delete_image', {id: image.id})}}" data-delete-image data-token="{{ csrf_token('delete' ~ image.id )}}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {% for video in trick.videos %}
                    <div class="conteneurVideoArticle">
                       <div class="lienVideo">
                        <a href="{{ path('app_delete_video', {'id': video.id}) }}" data-delete-video data-token="{{ csrf_token('delete' ~ video.id )}}" >
                            <i class="fas fa-trash-alt"></i></a>
                           <a href="{{ path('app_edit_video', {'id': video.id}) }}">
                               <i class="fas fa-pencil-alt fa-lg"></i>
                           </a>
                       </div>
                    <iframe src="{{ video.url }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                {% endfor %}
            </div>
    </div>
{% else %}
    <div class="container jumbotron text-center"><strong>No medias</strong></div>
{% endif %}